<app-header fxFlexFill ></app-header>


<div class="container" fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >

  <mat-card fxFlex="25">
    <mat-toolbar color="primary">User Profile</mat-toolbar>
    <br />
    <div>
      <h1>Divyesh Parekh</h1>
      <h3>Admin Role</h3>
      <p>dparekh@gmail.com</p>
    </div>
  </mat-card>

<!--  <div *ngIf="userType == 'Admin'">
    // Admin profile section.
    <h4>Username:</h4>
    ...
    //etc
  </div>

  <div *ngIf="userType == 'User'">
    // User profile section.
    <h4>Username:</h4>
    ...
    //etc
  </div>-->



</div>
