mat-form-field {
  width: 100%;
}
mat-radio-group {
  padding-top: 10px;
}
.transaction-radio-group {
  display: flex;
  flex-direction: column;
  margin: 3px 0;
  align-items: flex-start;
}

.transaction-radio-button {
  margin-bottom: 12px;
}
